---

// IMPORTS ASTRO ATOMS
import FooterHeading from "@/atoms/footer/heading/index.astro"
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

// GET ASTRO PROPS
const {

    footer_column_two,
    heading_award,
    heading_clutch

} = Astro.props

---
<section class="space-y-6">
    <FooterHeading>{ heading_award }</FooterHeading>
    <section class="grid md:grid-cols-5 gap-4">
        {

            footer_column_two.map( ( value, index ) => {

                return(
                    <div class={` ${ index === 0 ? "col-span-2" : "" } bg-[#fdfdff05] rounded-md p-6 flex flex-col gap-4 justify-center items-center`}>
                        <div class="h-24 w-fit">
                            <PictureInternalContain
                                alternative_text={ value.data.image_alternative_text }
                                source={ value.data.image_source + "?quality=10&width=10" }
                            />
                        </div>
                        <p class="text-center text-synetec_white capitalize font-poppins font-light text-xs">{ value.data.title }</p>
                    </div>
                )

            })

        }
    </section>
    {

        false &&
        <div class="pt-4">
            <FooterHeading>{ heading_clutch }</FooterHeading>
        </div>

    }
</section>
