---

// IMPORTS ASTRO ATOMS
import HeadingSix from "@/atoms/headings/six/index.astro"
import PictureContain from "@/atoms/picture/contain/index.astro"

// GET ASTRO PROPS
const {

    CDN,
    data,
    PROJECT

} = Astro.props

// SORTS THE IMAGES ARRAY
const images = data.images.sort( ( a, b ) => a.order - b.order )

---
<section class="space-y-6">
    <HeadingSix>{ data.title }</HeadingSix>
    <div class="grid grid-cols-2 md:flex md:items-center gap-8">
        {

            images.map( ( value ) => {

                return(
                    <div class="h-8 md:h-14 md:w-fit">
                        <PictureContain
                            alternative_text={ data.title }
                            CDN={ CDN }
                            image_width="320"
                            PROJECT={ PROJECT }
                            source={ value.file }
                        />
                    </div>
                )

            })

        }
    </div>
</section>
