<button class="h-16 flex items-center px-8 rounded text-synetec_white bg-synetec_orange hover:bg-synetec_dark_orange border-2 border-synetec_orange hover:border-synetec_dark_orange transition-all duration-200 text-lg font-semibold">
    <slot />
</button>
