---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import BookACall from "@/components/home/contact/book-a-call/index.astro"
import ContactUs from "@/components/home/contact/contact-us/index.astro"

// GET ASTRO PROPS
const {

    book_a_conversation,
    call_description_one,
    call_description_three,
    call_description_two,
    CDN,
    contact_us,
    PROJECT

} = Astro.props

---
<section class="py-40 md:px-40 2xl:px-60">
    <Container>
        <section class="grid grid-cols-2 gap-28">
            <BookACall
                book_a_conversation={ book_a_conversation }
                call_description_one={ call_description_one }
                call_description_three={ call_description_three }
                call_description_two={ call_description_two }
                CDN={ CDN }
                PROJECT={ PROJECT }
            />
            <ContactUs
                data={ contact_us }
            />
        </section>
    </Container>
</section>
