---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import AwardWinning from "@/components/home/hero/award-winning/index.astro"
import TrustedByCompanies from "@/components/home/hero/trusted-by-companies/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingOne from "@/atoms/headings/one/white/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphXl from "@/atoms/paragraphs/xl/light-gray/index.astro"
import Picture from "@/atoms/picture/index.astro"
import PlayIcon from "@/components/home/hero/play-icon/index.jsx"
import PrimaryButton from "@/atoms/buttons/primary/index.astro"
import SecondaryButton from "@/atoms/buttons/secondary/index.astro"

// GET ASTRO PROPS
const {

    award_winning,
    CDN,
    data,
    PROJECT,
    trusted_companies

} = Astro.props

---
<section class="bg-blue-950 pt-32">
    <Container>
        <section class="grid grid-cols-3 gap-14 py-12">
            <section class="col-span-2 flex flex-col gap-4 justify-center">
                <HeadingOne>{ data.title }</HeadingOne>
                <ParagraphXl>{ data.description }</ParagraphXl>
                <div class="flex gap-4 pt-12">
                    <Link href={ data.button_one_link } aria_label={ data.button_one_text }>
                        <PrimaryButton>{ data.button_one_text }</PrimaryButton>
                    </Link>
                    <Link href={ data.button_two_link } aria_label={ data.button_two_text }>
                        <SecondaryButton>{ data.button_two_text }</SecondaryButton>
                    </Link>
                </div>
            </section>
            <section class="relative h-full">
                <div class="w-full aspect-[5/6] bg-white/10 p-3 rounded-lg overflow-hidden">
                    <Picture
                        alternative_text={ data.title }
                        CDN={ CDN }
                        image_width="440"
                        PROJECT={ PROJECT }
                        source={ data.cover }
                    />
                </div>
                <div class="w-full h-full flex items-center justify-center absolute top-0">
                    <PlayIcon
                        CDN={ CDN }
                        client:only
                        image={ data.images[0].file }
                        PROJECT={ PROJECT }
                    />
                </div>
            </section>
        </section>
    </Container>
    <section class="grid grid-cols-2 gap-40 py-8 bg-white/10 backdrop-blur-sm md:px-6 2xl:px-12">
        <TrustedByCompanies
            CDN={ CDN }
            data={ trusted_companies }
            PROJECT={ PROJECT }
        />
        <AwardWinning
            CDN={ CDN }
            data={ award_winning }
            PROJECT={ PROJECT }
        />
    </section>
</section>
