---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

---
<section class="bg-zinc-200 py-10">
    <Container>
        <p class="text-black">I am home</p>
    </Container>
</header>
