---

// RUNTIME
const runtime = Astro.locals.runtime
const { ENVIRONMENT } = runtime.env

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"
import Layout from "@/layouts/layout/index.astro"

// IMPORTS ASTRO COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Header from "@/components/common/header/index.astro"
import HeaderBanner from "@/components/common/header-banner/index.astro"

// IMPORTS JSX COMPONENTS
import BenchmarkingJSX from "@/components/benchmarking/index.jsx"

// IMPORTS BENCHMARKING FROM MD
import { frontmatter as benchmarking } from "@/content/benchmarking/home.mdx"

---
<Layout
	description={ "Benchmarking" }
	image=""
	title={ "Benchmarking" }
>
    <HeaderBanner
        ENVIRONMENT={ ENVIRONMENT }
    />
    <Header />
    <section class="py-12 md:py-20 mt-32">
        <Container>
            <BenchmarkingJSX
                client:load
                data={ benchmarking }
            />
        </Container>
    </section>
    <Footer />
</Layout>
