---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

---
<footer class="bg-black py-20">
    <Container>
        <p class="text-white">I am footer</p>
    </Container>
</footer>
