---

// IMPORTS ASTRO COMPONENTS
import Services from "@/components/home/key-services/services/index.astro"

// IMPORTS ASTRO ATOMS
import ArrowButton from "@/atoms/buttons/arrow/index.astro"
import Link from "@/atoms/links/index.astro"

// IMPORTS MARKED
import { marked } from "marked"

// ASTRO PROPS
const {

    CDN,
    data,
    PROJECT,
    services

} = Astro.props

const description = marked.parse( data.description )
---
<section class="py-40 space-y-20">
    <section class="md:max-w-3xl 2xl:max-w-4xl mx-auto space-y-6">
        <h2 class="text-synetec_black text-5xl font-bold font-poppins text-center">{ data.title }</h2>
        <section set:html={ description } class="markdown text-center" />
        <div class="flex justify-center">
            <Link href={ data.button_one_link } aria_label={ data.button_one_text }>
                <ArrowButton>{ data.button_one_text }</ArrowButton>
            </Link>
        </div>
    </section>
    <Services
        CDN={ CDN }
        data={ services }
        PROJECT={ PROJECT }
    />
</section>
